h1 {
    color: white;
    background-color: rgb(11, 51, 228);

  }

  .instruction{
      color:white;
      font-size: 30px;
      background-color: rgb(166, 11, 228);

  }
  body{
      background-color: rgb(168, 206, 241);
  }

  ol{
    background-color: rgb(219, 119, 206);
    font-size: 20px;
    
  }