/* h1{
    color:red;
} */
p,li {
    color: green;
  }
  li {
    list-style-type: square;
  }
  li.special,span.special{
    color: rgb(0, 162, 255);
    font-weight:bols
  }
  li em {
    color: rebeccapurple;
  }
  h1 + p {
    font-size: 200%;
  }
  a:link {
    color: pink;
  }
  
  a:visited {
    color: rgb(102, 0, 128);
  }
  a:hover {
    text-decoration: none;
    color: rgb(230, 219, 69);
  }
  body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
  }